[Service]
Type=simple
StartLimitIntervalSec=0
ExecStart=/usr/bin/make run
User=root
Group=root
WorkingDirectory=/root/arcadia/bot
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
RestartSec=1
Restart=always

[Install]
WantedBy=multi-user.target

[Unit]
PartOf=ibl.target
Description="Arcadia Bot [v4]"
After=ibl-maint.service
