[Service]
Type=simple
ExecStart=/root/Artemis/shorts
User=root
Group=root
WorkingDirectory=/root/Artemis
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
RestartSec=1
Restart=always

[Install]
WantedBy=multi-user.target

[Unit]
PartOf=ibl.target
Description="Artemis Short Links Service [v3+v4]"
After=ibl-maint.service
