[Service]
Type=simple
ExecStart=/root/proxysid/nirn-run
User=root
Group=root
WorkingDirectory=/root/proxysid
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
RestartSec=1
Restart=always

[Install]
WantedBy=multi-user.target

[Unit]
PartOf=ibl.target
Description="Core IBL Base Proxy [v3+v4]"
After=ibl-maint.service
