[Service]
Type=simple
ExecStart=/usr/bin/npm start
User=root
Group=root
WorkingDirectory=/root/InfinityBotList/MainSite/
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
RestartSec=1
Restart=always

[Install]
WantedBy=multi-user.target

[Unit]
PartOf=ibl.target
After=popplio-v1.service
Description="IBL V3"
