[Service]
Type=simple
ExecStart=/root/void/void
User=root
Group=root
WorkingDirectory=/root
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
RestartSec=1
Restart=always

[Install]
WantedBy=multi-user.target

[Unit]
Description="Maint service"
After=zfsmongo.service
