[Service]
Type=simple
ExecStart=/root/Popplio/popplio
User=root
Group=root
WorkingDirectory=/root/Popplio
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
RestartSec=1
Restart=always

[Install]
WantedBy=multi-user.target

[Unit]
PartOf=ibl.target
Description="Popplio [v3]"
After=ibl-maint.service
