[Service]
Type=simple
StartLimitIntervalSec=0
ExecStart=/usr/bin/npm start
User=root
Group=root
WorkingDirectory=/root/ToxMod/Website
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
RestartSec=1
Restart=always

[Install]
WantedBy=multi-user.target

[Unit]
PartOf=toxmod.target
After=network.target
Description="ToxMod Site"
